button.compress_video_btn {
	cursor: pointer;
	position: relative;
    padding: 5px 15px;
    border-radius: 3px;
    border: 1px solid #000;
}
button.compress_video_btn.progress {
    padding-right: 20px;
}
button.compress_video_btn span {
	display: none;
	padding-left: 5px;
    width: 15px;
    height: 15px;
    background: url(../img/rolling.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 7px;
    right: 0px;
}
button.compress_video_btn.compressed {
	color: green;
    border-radius: 3px;
    border: 1px solid #709f70;
}
button.compress_video_btn.progress span {
	display: block;
}

.compress_video_message {
	margin-left: 0px;
	display: none;
}
.compress_video_message.success {
	border-left-color: #53d253;
}

.wcfm-dashboard-page .compat-attachment-fields , .wcfm-dashboard-page .compat-attachment-fields {
    display: none;
}
tr[class^="compat-field-compress_url_file_"] input {
  width: 50%;
}